.hero-pizza {
    background-image: url("../images/pizza.png");
    background-size: cover;
}

.hero-pizza-title {
    text-align: center;
    background-color: white;
    padding-top: .25em;
    opacity: .6;
}